<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @dataset.name %>
</p>

<p>
  <b>Description:</b>
  <%= @dataset.description %>
</p>

<p>
  <b>Data:</b>
  <%= @dataset.data %>
</p>


<%= link_to 'Edit', edit_dataset_path(@dataset) %> |
<%= link_to 'Back', datasets_path %>
